<div class="flex flex-col justify-center flex-1 w-full max-w-md mx-auto">
    <div>
        <div class="mb-5 sm:mb-8">
            <h1 class="mb-2 font-semibold text-gray-800 text-title-sm dark:text-white/90 sm:text-title-md">
              Registrarse
            </h1>
            <p class="text-sm text-gray-500 dark:text-gray-400">
                Ingrese los siguientes datos para registrarse en el banco de talento académico administrativo.
            </p>
        </div>
        <!-- Form -->
        <form [formGroup]="formSignup" (ngSubmit)="onSignUp()" class="space-y-6">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                <div>
                    <app-label>Primer Nombre <span class="text-error-500">*</span></app-label>
                    <app-input-field type="text" placeholder="Primer Nombre" formControlName="primerNombre" name="primerNombre" class="form-input"  />
                </div>
                <div>
                    <app-label>Segundo Nombre</app-label>
                    <app-input-field type="text" placeholder="Segundo Nombre" formControlName="segundoNombre" name="segundoNombre" class="form-input"  />
                </div>
            </div>
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                <div>
                    <app-label>Primer Apellido <span class="text-error-500">*</span></app-label>
                    <app-input-field type="text" placeholder="Primer Apellido" formControlName="primerApellido" name="primerApellido" class="form-input"  />
                </div>
                <div>
                    <app-label>Segundo Apellido</app-label>
                    <app-input-field type="text" placeholder="Segundo Apellido" formControlName="segundoApellido" name="segundoApellido" class="form-input"  />
                </div>
            </div>
            <div>
                <app-label>Correo <span class="text-error-500">*</span></app-label>
                <app-input-field type="email" placeholder="Correo electrónico" formControlName="mail" name="mail" class="form-input"  />
            </div>
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                <div>
                    <app-label>Tipo de documento <span class="text-error-500">*</span></app-label>
                    <app-select [options]="documentTypes()" placeholder="Seleccione un tipo de documento" formControlName="idTipoDocumentoIdentidad" name="idDocumentoIdentidad" class="form-input"  />
                </div>
                <div>
                    <app-label>Número de documento <span class="text-error-500">*</span></app-label>
                    <app-input-field type="text" placeholder="Número de documento" formControlName="documentoIdentidad" name="documentoIdentidad" class="form-input" />
                </div>
            </div>
            <div>
                <app-label>Genero</app-label>
                <app-select [options]="genderOptions" placeholder="Seleccione un género" formControlName="sexo" name="sexo" class="form-input" />
            </div>
            <div>
                <app-label>Usuario</app-label>
                <app-input-field type="text" placeholder="Usuario" formControlName="usuario" name="usuario" class="form-input"  />
            </div>
    
            <div>
                <app-label>Contraseña <span class="text-error-500">*</span></app-label>
                <div class="relative">
                    <app-input-field [type]="showPassword() ? 'text' : 'password'" placeholder="Ingrese su contraseña" formControlName="contrasena" name="contrasena" class="form-input"  />
                    <span (click)="togglePasswordVisibility()" class="absolute z-30 -translate-y-1/2 cursor-pointer right-4 top-1/2">
                        @if (showPassword()) {
                            <app-icon name="eyeClose" size="sm" classes="fill-gray-500 dark:fill-gray-400"/>
                        } @else {
                            <app-icon name="eyeOpen" size="sm" classes="fill-gray-500 dark:fill-gray-400" />
                        }
                    </span>
                </div>
                @if (passwordControl()?.touched && passwordControl()?.invalid) {
                    <div class="mt-2 text-sm text-error-500 space-y-1">
                      @if (passwordControl()?.errors?.['required']) {
                        <p>La contraseña es obligatoria.</p>
                      }
                      @if (passwordControl()?.errors?.['minlength']) {
                        <p>Debe tener mínimo 8 caracteres.</p>
                      }
                      @if (passwordControl()?.errors?.['pattern']) {
                        <p>Debe incluir al menos una mayúscula, un número y un símbolo.</p>
                      }
                    </div>
                  }
            </div>
    
    
            <app-button (btnClick)="onSignUp()" className="w-full" size="sm" >
                @if (isLoading()) {
                    Cargando...
                } @else {
                    Registrarse
                }
            </app-button>
        </form>
  
      
    </div>
  </div>
  